
@{
    ViewBag.Title = "ChiSiamo";
}

@section Styles{
    <link href="~/Content/ChiSiamoPage.css" rel="stylesheet" />
    <link href="~/Content/ChiSiamoPageStile2.scss" rel="stylesheet" />
}

<div class="overlay"></div>
<div class="d-flex justify-content-center mt-5">
    <h3 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="text-warning">Chi Siamo - Terra di Sapori: La Magia dei Sapori Calabresi</h3>
</div>
<div class="external content-container">
    <div class="horizontal-scroll-wrapper">
        <div class="img-wrapper slower">
            <a href="#">
                <img src="~/Content/ImgProgetto/imm1ChiSiamo.jpg" alt="Immagine-ChiSiamo">
            </a>
        </div>

        <div class="img-wrapper faster">
            <a href="#">
                <img src="~/Content/ImgProgetto/imm2ChiSiamo.jpg" alt="Immagine-ChiSiamo">
            </a>
        </div>

        <div class="img-wrapper slower vertical">
            <a href="#">
                <img src="~/Content/ImgProgetto/imm3ChiSiamo.jpg" alt="Immagine-ChiSiamo">
            </a>
        </div>

        <div class="img-wrapper slower slower-down">
            <a href="#">
                <img src="~/Content/ImgProgetto/imm4ChiSiamo.jpg" alt="Immagine-ChiSiamo">
            </a>
        </div>

        <div class="img-wrapper">
            <a href="#">
                <img src="~/Content/ImgProgetto/imm5ChiSiamo.jpg" alt="Immagine-ChiSiamo">
            </a>
        </div>

        <div class="img-wrapper slower">
            <a href="#">
                <img src="~/Content/ImgProgetto/imm6ChiSiamo.jpg" alt="Immagine-ChiSiamo">
            </a>
        </div>

        <div class="img-wrapper faster1">
            <a href="#">
                <img src="~/Content/ImgProgetto/imm7ChiSiamo.jpg" alt="Immagine-ChiSiamo">
            </a>
        </div>

        <div class="img-wrapper slower slower2">
            <a href="#">
                <img src="~/Content/ImgProgetto/imm8ChiSiamo.jpg" alt="Immagine-ChiSiamo">
            </a>
        </div>

        <div class="img-wrapper">
            <a href="#">
                <img src="~/Content/ImgProgetto/imm9ChiSiamo.jpg" alt="Immagine-ChiSiamo">
            </a>
        </div>

        <div class="img-wrapper slower">
            <a href="#">
                <img src="~/Content/ImgProgetto/imm10ChiSiamo.jpg" alt="Immagine-ChiSiamo">
            </a>
        </div>

        <div class="img-wrapper slower last">
            <a href="#">
                <img src="~/Content/ImgProgetto/imm11ChiSiamo.jpg" alt="Immagine-ChiSiamo">
            </a>
        </div>
    </div>
</div>
<div class="container">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
            <h2 class="textStyle my-4 text-warning text-center">About Us</h2>
        <div class="col-lg-6 col-md-12 mb-4 text-center">
            <img src="~/Content/ImgProgetto/vigneto.jpg" class="img-fluid" alt="Img-App" />
        </div>
        <!--Grid column-->
        <!--Grid row-->
        <!--Grid row-->
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 d-flex flex-column justify-content-end">
            <p class="textStyle">
                La nostra Storia ha radici profonde nella passione per la <span class="fw-bold text-warning">Calabria</span>, una terra affacciata sul mare Tirreno e Ionio,
                baciata da sole e ricca di tesori gastronomici. Siamo nati da un sogno: quello di condividere con il mondo la ricchezza di questa regione,
                mettendo in luce il duro lavoro e l'amore dei produttori locali.
            </p>
        </div>
    </div>
    <div class="row">
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 d-flex flex-column justify-content-end">
            <p class="textStyle">
                Siamo innamorati della <span class="fw-bold text-warning">Calabria</span> e dei suoi prodotti. Ogni visita a una piccola azienda agricola
                o la degustazione di un formaggio artigianale ci riempe di gioia. Con <span class="fw-bold text-warning">Terra di Sapori</span>, vogliamo diffondere
                questo amore a tutti voi, portandovi un assaggio autentico della <span class="fw-bold text-warning">Calabria</span> ovunque voi siate.
            </p>
        </div>
        <div class="col-lg-6 col-md-12 mb-4">
            <img src="~/Content/ImgProgetto/aziendeChiSiamo.png" class="img-fluid" alt="" />
        </div>
    </div>
    <div class="row">
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4">
            <img src="~/Content/ImgProgetto/LogoApp.png" class="img-fluid" alt="logo-azienda" />
        </div>
        <div class="col-lg-6 col-md-12 mb-4 d-flex flex-column justify-content-center">
            <p class="textStyle">
                Siamo una squadra appassionata, composta da esperti di tecnologia e amanti del cibo locale. Lavoriamo instancabilmente per rendere
                il nostro sogno realtà, per connettere il mondo con la bellezza dei sapori calabresi.
                <br />
                Unitevi a noi in questo viaggio culinario, esplorate i <a class="text-warning" href="/Home/ProdottiList">prodotti locali,</a>
                scoprite le storie dei produttori, e abbracciate la ricchezza della <span class="fw-bold text-warning">Calabria</span> attraverso
                <span class="fw-bold text-warning">Terra di Sapori.</span> La vostra avventura culinaria inizia qui. Benvenuti nella terra dei sapori
                autentici, benvenuti in <span class="fw-bold text-warning fs-5">TERRA DI SAPORI.</span>
            </p>
        </div>
        </div>
        <!--<div class="col-lg-4 col-md-6 mb-4">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="" />
    </div>-->
        <!--Grid column-->
        <!--Grid column-->
        <!--<div class="col-lg-4 col-md-6 mb-4">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="" />
    </div>-->
        <!--Grid column-->
        <!--Grid row-->
    </div>
@section scripts{
    <script src="~/Scripts/JavaScript2.js"></script>
}